<!DOCTYPE HTML>

<html>
	<head>
		<title>Catalogo de Filmes Lord's Filmes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Bem vindo a Lord's Filmes</a></li>
							<li><a href="#one">Nossos Filmes</a></li>
							<!-- <li><a href="#two">What we do</a></li> -->
							<li><a href="#three">Entre em Contato</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Lord's Filmes</h1>
							<p>Acervo de filmes para sua diversão e entreternimento. <br />
							</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Filmes</a></li>
							</ul>
						</div>
					</section>

				
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Powder - Energia Pura</h2>
									<p>Ao investigar a morte de um velho em uma propriedade rural, Barnum (Lance Henriksen), o xerife local, descobre Powder (Sean Patrick Flanery
										– seu verdadeiro nome é Jeremy Reed -, um adolescente que era neto do falecido e que tinha passado toda a sua vida conhecendo o mundo através dos 
									   livros, sem nunca ter deixado a fazenda da família, tudo isto por ter uma aparência estranha (é totalmente branco). Powder "Talco" é levado para um 
									   orfanato, mas é hostilizado pelos outros internos em virtude do seu aspecto. Ele demonstra ter dons particulares além de ter o intelecto mais elevado 
									   que qualquer ser humano jamais teve, passando a alterar a vida de todos que estão ao seu redor.</p>
									<ul class="actions">
										<li><a href="https://www.youtube.com/watch?v=dM1jktXwcSI" class="button">Veja Trailler</a></li>
									</ul>
									<ul class="actions">
										<li><a href="https://superfilmes.online/energia-pura/" class="button">Assista On-Line</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/coringa.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Coringa</h2>
									<p>Em Coringa, Arthur Fleck (Joaquin Phoenix) trabalha como palhaço para uma agência de talentos e, toda semana, precisa comparecer a uma agente 
										social, devido aos seus conhecidos problemas mentais. Após ser demitido, Fleck reage mal à gozação de três homens em pleno metrô e os mata. 
										Os assassinatos iniciam um movimento popular contra a elite de Gotham City, da qual Thomas Wayne (Brett Cullen) é seu maior representante.</p>
									<ul class="actions">
										<li><a href="https://www.youtube.com/watch?v=MjjPIPh6aXQ" class="button">Veja Trailler</a></li>
									</ul>
									<ul class="actions">
										<li><a href="https://topflix.vc/filmes/assistir-online-coringa/" class="button">Assista On-Line</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Você Acredita?</h2>
									<p>Um pastor encontra por acaso um mendigo que prega a palavra de Deus pelas ruas e decide colocar a sua fé em ação, ajudando diversas pessoas. 
										Logo a vida de uma dezena de indivíduos se cruza, fazendo com que todos descubram o poder da cruz de Cristo.</p>
									<ul class="actions">
										<li><a href="https://www.youtube.com/watch?v=cY5vKeB6qvg" class="button">Veja Trailler</a></li>
									</ul>
									<ul class="actions">
										<li><a href="https://www.youtube.com/watch?v=CppiSdZ4Y8Y" class="button">Assista On-Line</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/pic04.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Monster Hunter</h2>
									<p>A tenente Artemis e seus leais soldados são transportados para um novo mundo, dominado por monstros perigosos. Em uma batalha desesperada pela 
										sobrevivência contra inimigos formidáveis, Artemis se une a um homem misterioso.</p>
									<ul class="actions">
										<li><a href="https://www.youtube.com/watch?v=U3iUJ8f8nrE" class="button">Veja Trailler</a></li>
									</ul>
									<ul class="actions">
										<li><a href="https://redecanais.re/monster-hunter-dublado-2021-1080p_ef3e66d8c.html" class="button">Assista On-Line</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/pic05.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Ender's Game - O Jodo do Exterminador</h2>
									<p>Em um futuro próximo, extra-terrestres hostis atacaram a Terra. Com muita dificuldade, o combate foi vencido, graças ao heroísmo do comandante 
										Mazer Rackham (Ben Kingsley). Desde então, o respeitado coronel Graff (Harrison Ford) e as forças militares terrestres treinam as crianças mais 
										talentosas do planeta desde pequenas, no intuito de prepará-las para um próximo ataque. Ender Wiggin (Asa Butterfield), um garoto tímido e 
										brilhante, é selecionado para fazer parte da elite. Na Escola da Guerra, ele aprende rapidamente a controlar as técnicas de combate, por causa de seu 
										formidável senso de estratégia. Com isso, logo se torna a principal esperança das forças militares para encerrar de uma vez por todas com a ameaça 
										alienígena.</p>
									<ul class="actions">
										<li><a href="https://www.youtube.com/watch?v=cXqDvWFwmYU" class="button">Veja Trailler</a></li>
									</ul>
									<ul class="actions">
										<li><a href="https://www.megafilmeshds.net/enders-game-o-jogo-do-exterminador/" class="button">Assista On-Line</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/pic06.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Jogador Nº 1</h2>
									<p>Num futuro distópico, situado em 2044, Wade Watts, como o resto da humanidade, prefere a realidade virtual do jogo OASIS ao mundo real. No jogo, 
										seus usuários devem descobrir a chave de um quebra-cabeça diabólico, baseado na cultura do final do século XX, para conquistar um prêmio de valor 
										inestimável. Para vencê-lo, porém, Watts terá de abandonar a existência virtual e ceder a uma vida de amor e realidade da qual sempre tentou fugir.</p>
									<ul class="actions">
										<li><a href="https://www.youtube.com/watch?v=jLzThxohl7U" class="button">Veja Trailler</a></li>
									</ul>
									<ul class="actions">
										<li><a href="https://ultracine.app/filme/jogador-n-1" class="button">Assista On-Line</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Fale Conosco</h2>
							<p>Deixe sua Sugestão ou Crítica, estamos dispostos para melhor entreternimento! </p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Nome</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">E-mail</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Mensagem</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Envio</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Endereço</h3>
											<span>Rua do Jangadeiro, 1479<br />
											CEP 54420-035<br />
											BRA</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">marcelobluemer@gmail.com</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(81) 98119-4242</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://github.com/machadomrm" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="https://www.instagram.com/machadomrm_/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="https://www.linkedin.com/in/marcelo-da-rocha-machado-38b77427/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Todos direitos reservado.</li><li>Design: Marcelo da Rocha Machado</a></li>
					</ul>
				</div>
			</footer>

		
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
