<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./assets/css/style.css">
    <!--Link para acessar os icones do site boxicons-->
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <title>Memes | Fellipe</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</head>

<style>
    html{
        scroll-behavior: smooth;
    }

    body div#fellipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 1rem;
    background-image: url(/templates/fellipe/assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    }

    div#fellipe div.card.mb-4.shadow-sm {
        border: .15rem solid black;
        border-radius: 1rem;
    }

    div#fellipe div.card.mb-4.shadow-sm img{
        border-radius: 1rem;
    }


</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Fellipe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="../../inicial.html">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../antonio/antonio.html">Antonio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../elisama/elisama.html">Elisama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../fellipe/fellipe.html">Fellipe </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../marcelo/marcelo.html">Marcelo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../rudhy/rudhy.html">Rudhy</a>
            </li>
        </ul>
        </div>
    </nav>

    <section class="jumbotron text-center">
        <div class="container">
            <img src="">
        <h1>Sobre os Memes</h1>
        <p class="lead text-muted">Texto sobre os memes.</p>
        </div>
    </section>

    <div class="album py-5 bg-light" id="fellipe">
        <div class="container">

        <div class="row">
            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 230px; width: 100%; display: block;" src="/templates/fellipe/assets/img/nazare.jpg"> 
                <div class="card-body">
                <p class="card-text">Batata.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Saiba Mais</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    <small class="text-muted">Esse Mês</small>
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 230px; width: 100%; display: block;" src="/templates/fellipe/assets/img/vindiesel.jpg">
                <div class="card-body">
                <p class="card-text"></p>
                <p class="card-text">Vin Diesel Brasileiro</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Saiba Mais</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    <small class="text-muted">Esse Mês</small>
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 230px; width: 100%; display: block;" src="/templates/fellipe/assets/img/caixao.jpg"> 
                <div class="card-body">
                <p class="card-text">Meme do Caixão.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Saiba Mais</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    <small class="text-muted">Esse Mês</small>
                </div>
                </div>
            </div>
            </div>

            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 230px; width: 100%; display: block;" src="/templates/fellipe/assets/img/cafe.jpg"> 
                <div class="card-body">
                <p class="card-text">Quer Cafééé</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Saiba Mais</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    <small class="text-muted">Esse Mês</small>
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 230px; width: 100%; display: block;" src="/templates/fellipe/assets/img/andremarques.jpg"> 
                <div class="card-body">
                <p class="card-text">Dj André Marques</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Saiba Mais</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    <small class="text-muted">Esse Mês</small>
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 230px; width: 100%; display: block;" src="/templates/fellipe/assets/img/nazare.jpg">
                <div class="card-body">
                <p class="card-text">Nazaré Confusa</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Saiba Mais</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    <small class="text-muted">Esse Mês</small>
                </div>
                </div>
            </div>
            </div>

            <footer class="blog-footer">
                <p>Editado por &copy <a href="https://github.com/flealbrl" target='_blank'>Fellipe Leal</a></p>
                <p>
                    <a href="#">Voltar ao topo</a>
                </p>
            </footer>

</body>
</html>