<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./assets/css/style.css">
    <!--Link para acessar os icones do site boxicons-->
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <title>Blue Final Website</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Antônio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="../../inicial.html">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../antonio/antonio.html">Antonio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../elisama/elisama.html">Elisama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../fellipe/fellipe.html">Fellipe </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../marcelo/marcelo.html">Marcelo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../rudhy/rudhy.html">Rudhy</a>
            </li>
        </ul>
        </div>
    </nav>
    <section class="jumbotron text-center">
        <div class="container">
            <img src="">
        <h1>texto</h1>
        <p class="lead text-muted">Algo curto e direto, sobre a coleção abaixo (conteúdo, criador e etc). Faça com que seja curto e legal, mas não tão curto ao ponto de as pessoas pularem ele.</p>
        </div>
    </section>
    <div class="album py-5 bg-light" id="elisama">
        <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://images.unsplash.com/photo-1561758033-d89a9ad46330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" data-holder-rendered="true">
                    <div class="card-body">
                    <p class="card-text"><h3>Double Smash + Fritas</h3>Uma tendência já conhecida nos EUA e que vem se espalhando pelo Brasil. Um hambúrguer menor, achatado diretamente na chapa e com um sabor único, combina perfeitamente com fritas.</p>
                    <video class="card-img-top" width="320" height="240" controls="controls" autoplay="autoplay">
                        <source src="https://www.youtube.com/watch?v=Cc_ILSP3nbY" type="video/mp4">
                        <object data="" width="320" height="240">
                        <embed width="320" height="240" src="https://www.youtube.com/watch?v=Cc_ILSP3nbY">
                        </object>
                    </video>
                
                    <div class="d-flex justify-content-between align-items-center">
                        
                        <div class="btn-group">
                        
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://images.unsplash.com/photo-1561758033-d89a9ad46330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" data-holder-rendered="true">
                    <div class="card-body">
                    <p class="card-text"><h3>Double Smash + Fritas</h3>Uma tendência já conhecida nos EUA e que vem se espalhando pelo Brasil. Um hambúrguer menor, achatado diretamente na chapa e com um sabor único, combina perfeitamente com fritas.</p>
                    <video class="card-img-top" width="320" height="240" controls="controls" autoplay="autoplay">
                        <source src="https://www.youtube.com/watch?v=Cc_ILSP3nbY" type="video/mp4">
                        <object data="" width="320" height="240">
                        <embed width="320" height="240" src="https://www.youtube.com/watch?v=Cc_ILSP3nbY">
                        </object>
                    </video>
                
                    <div class="d-flex justify-content-between align-items-center">
                        
                        <div class="btn-group">
                        
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://images.unsplash.com/photo-1561758033-d89a9ad46330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" data-holder-rendered="true">
                    <div class="card-body">
                    <p class="card-text"><h3>Double Smash + Fritas</h3>Uma tendência já conhecida nos EUA e que vem se espalhando pelo Brasil. Um hambúrguer menor, achatado diretamente na chapa e com um sabor único, combina perfeitamente com fritas.</p>
                    <video class="card-img-top" width="320" height="240" controls="controls" autoplay="autoplay">
                        <source src="https://www.youtube.com/watch?v=Cc_ILSP3nbY" type="video/mp4">
                        <object data="" width="320" height="240">
                        <embed width="320" height="240" src="https://www.youtube.com/watch?v=Cc_ILSP3nbY">
                        </object>
                    </video>
                
                    <div class="d-flex justify-content-between align-items-center">
                        
                        <div class="btn-group">
                        
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://images.unsplash.com/photo-1561758033-d89a9ad46330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" data-holder-rendered="true">
                    <div class="card-body">
                    <p class="card-text"><h3>Double Smash + Fritas</h3>Uma tendência já conhecida nos EUA e que vem se espalhando pelo Brasil. Um hambúrguer menor, achatado diretamente na chapa e com um sabor único, combina perfeitamente com fritas.</p>
                    <video class="card-img-top" width="320" height="240" controls="controls" autoplay="autoplay">
                        <source src="https://www.youtube.com/watch?v=Cc_ILSP3nbY" type="video/mp4">
                        <object data="" width="320" height="240">
                        <embed width="320" height="240" src="https://www.youtube.com/watch?v=Cc_ILSP3nbY">
                        </object>
                    </video>
                
                    <div class="d-flex justify-content-between align-items-center">
                        
                        <div class="btn-group">
                        
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://images.unsplash.com/photo-1561758033-d89a9ad46330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" data-holder-rendered="true">
                    <div class="card-body">
                    <p class="card-text"><h3>Double Smash + Fritas</h3>Uma tendência já conhecida nos EUA e que vem se espalhando pelo Brasil. Um hambúrguer menor, achatado diretamente na chapa e com um sabor único, combina perfeitamente com fritas.</p>
                    <video class="card-img-top" width="320" height="240" controls="controls" autoplay="autoplay">
                        <source src="https://www.youtube.com/watch?v=Cc_ILSP3nbY" type="video/mp4">
                        <object data="" width="320" height="240">
                        <embed width="320" height="240" src="https://www.youtube.com/watch?v=Cc_ILSP3nbY">
                        </object>
                    </video>
                
                    <div class="d-flex justify-content-between align-items-center">
                        
                        <div class="btn-group">
                        
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://images.unsplash.com/photo-1561758033-d89a9ad46330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" data-holder-rendered="true">
                    <div class="card-body">
                    <p class="card-text"><h3>Double Smash + Fritas</h3>Uma tendência já conhecida nos EUA e que vem se espalhando pelo Brasil. Um hambúrguer menor, achatado diretamente na chapa e com um sabor único, combina perfeitamente com fritas.</p>
                    <video class="card-img-top" width="320" height="240" controls="controls" autoplay="autoplay">
                        <source src="https://www.youtube.com/watch?v=Cc_ILSP3nbY" type="video/mp4">
                        <object data="" width="320" height="240">
                        <embed width="320" height="240" src="https://www.youtube.com/watch?v=Cc_ILSP3nbY">
                        </object>
                    </video>
                
                    <div class="d-flex justify-content-between align-items-center">
                        
                        <div class="btn-group">
                        
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
</body>
</html>