<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/adm.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Portifolio | ADM</title>
</head>

<body id="adm">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    
        {% if portifolio =='' %}
        <form action='/new' method="POST">
            <h1>Cadastre um novo projeto</h1>
            {% else %}
            <form action='/edit/{{portifolio.id}}' method="POST">
            <h1>Atualize o projeto</h1>
            {% endif %}


                <label for="nome">Nome</label>
                <input type="text" placeholder="Nome do projeto" id="nome" name="nome" value="{{portifolio.nome}}">

                <label for="imagem">Imagem</label>
                <input type="text" placeholder="Link da imagem" id="imagem" name="imagem" value="{{portifolio.imagem}}">

                <label for="link">Video</label>
                <input type="text" placeholder="Link do video" id="video" name="video" value="{{portifolio.video}}">

                <label for="link">Autor</label>
                <input type="text" placeholder="Escolha:  Antonio / Elisama / Fellipe / Rudhy / Marcelo" id="autor"
                    name="autor" required value="{{portifolio.autor}}">

                <label for="descricao">Descrição</label>
                <textarea name="descricao" id="descricao" cols="30" rows="10"
                    placeholder="Digite a descrição do projeto">{{portifolio.descricao}}</textarea>
                {% if portifolio =='' %}
                <button type="submit">Enviar</button>
                {% else %}
                <button type="submit">Atualizar</button>
                {% endif %}

            </form>

        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>IMAGEM</th>
                    <th>VÍDEO</th>
                    <th>AUTOR</th>
                    <th>DESCRIÇÃO</th>
                    <th>AÇÕES</th>

                </tr>
            </thead>

            <tbody>
                {% for p in portifolio %}
                <tr>
                    <td>{{p.id}}</td>
                    <td>{{p.nome}}</td>
                    <td><a href="{{p.imagem}}" target="_blank">{{p.imagem}}</a></td>
                    <td><a herf="{{p.video}}" target="_blank">{{p.video}}</a></td>
                    <td>{{p.autor}}</td>
                    <td>{{p.descricao}}</td>
                    <td>
                        <a href="/delete/{{p.id}}">Apagar</a>
                        <a href="/edit/{{p.id}}">Editar</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        <script src="../static/js/adm.js"></script>


</body>

</html>