<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./assets/css/style.css">
    <!--Link para acessar os icones do site boxicons-->
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <title>Blue Final Website</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Rudhy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="../../inicial.html">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../antonio/antonio.html">Antonio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../elisama/elisama.html">Elisama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../fellipe/fellipe.html">Fellipe </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../marcelo/marcelo.html">Marcelo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../rudhy/rudhy.html">Rudhy</a>
            </li>
        </ul>
        </div>
    </nav>
    <!-- -------------------------------------------- -->

    <!-- -------------------------------------------- -->


    <section class="jumbotron text-center" style="background-image: url(../rudhy/assets/img/Animes.jpg);
    background-repeat: no-repeat;
    background-size: cover;">
        <div class="container">
            
        <h1 style="color: #fff; ">Catálogo de Animes</h1>
            <div style="background: rgba(241, 241, 223, 0.459);
            border-radius: 12px;">
                <p class="lead" style="color: rgb(22, 20, 20); font-weight: bold; text-shadow: 0px 0px 5px rgb(11, 255, 64);">Seja bem-vindo/a ao meu catálogo de animes japoneses. Aqui estão algumas recomendações minhas de animes, que para a galera que nasceu a partir de 2000 podem ser considerados completamente "Cringe", porém são obras de arte puras. Tirando Demon Slayer, todos os outros animes possuem uma pegada mais filosófica, xamânica e retratam um pouco mais afundo a mitologia e folclore tradicional japonês, ou seja, os personagens estão envoltos no universo da filosofia Shintoista, com muitos Youkais, Kamis, Yureis e muito mais.  </p>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-light" id="rudhy">
        <div class="container">

        <div class="row">
            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="../rudhy/assets/img/Gintama.jpg" data-holder-rendered="true">
                <div class="card-body">
                <p class="card-text">GINTAMA é um anime pipipi pópópó...</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver Mais</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../rudhy/assets/img/Mushishi.jpg">
                <div class="card-body">
                <p class="card-text"></p>
                <p class="card-text">MUSHISHI é foda pra caraleo!!!</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver Mais</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../rudhy/assets/img/Natsume Yuujinchou.jpg">
                <div class="card-body">
                <p class="card-text">Natsume Yuujinchou.PHOOOODA!</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver Mais</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    
                </div>
                </div>
            </div>
            </div>

            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../rudhy/assets/img/Mononoke.jpg">
                <div class="card-body">
                <p class="card-text">MONONOKE, Sem palavras</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver Mais</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../rudhy/assets/img/Uchouten Kazoku.jpg">
                <div class="card-body">
                <p class="card-text">UCHOUTEN KAZOKU</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver Mais</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../rudhy/assets/img/Kimetsu no Yaiba.jpg">
                <div class="card-body">
                <p class="card-text">KIMESTU NO YAIBA</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver Mais</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    
                </div>
                </div>
            </div>
            </div>
</body>
<footer class="blog-footer">
    <p>Feito por &copy <a href="https://github.com/RudhyDev" target="_blanck" >RudhyDev</a>
    <p>
    <a href="#">Voltar ao topo</a>
    </p>
</footer>
</html>